<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><title>Enoteca Valentino</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/css/w3.css">
<link rel="stylesheet" href="/static/css/css">
<style>
body, html {
  height: 100%;
  font-family: "Inconsolata", sans-serif;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/static/img/esterno.jpg");
  min-height: 75%;
}

.menu {
  display: none;
}
</style>
<script data-dapp-detection="">(function(){let e=!1;function n(){if(!e){const n=document.createElement("meta");n.name="dapp-detected",document.head.appendChild(n),e=!0}}if(window.hasOwnProperty("ethereum")){if(window.__disableDappDetectionInsertion=!0,void 0===window.ethereum)return;n()}else{var t=window.ethereum;Object.defineProperty(window,"ethereum",{configurable:!0,set:function(e){window.__disableDappDetectionInsertion||n(),t=e},get:function(){return window.__disableDappDetectionInsertion||n(),t}})}})();</script></head><body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="https://enotecavalentino.it/" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="https://enotecavalentino.it/#about" class="w3-button w3-block w3-black">SU DI NOI</a>
    </div>
    <div class="w3-col s3">
      <a href="https://enotecavalentino.it/#menu" class="w3-button w3-block w3-black">MENU</a>
    </div>
    <div class="w3-col s3">
      <a href="https://enotecavalentino.it/#where" class="w3-button w3-block w3-black">DOVE SIAMO</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <!--<div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
  </div>-->
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:65px">Enoteca<br>Valentino</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-tag">Aperto dalle ore 8:00 alle ore 21:00</span>
	<br>
    <span class="w3-tag">Via Tiziano Vecellio 24 - Torino</span>
	<br>
    <span class="w3-tag">Tel. 011 2647591</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">L'Enoteca</span></h5>
    <p>Venite a trovarci per visionare i nostri vini e la varietà delle nostre etichette oltre alla vendita di vino sfuso: Barbera, Dolcetto, Grignolino, Nebbiolo, Nero d'Avola, Erbaluce, Chardonnay, Arneis. Le nostre varie etichette di birre, bibite e succhi di frutta.</p>
    <p>A colazione potrete scegliere i nostri croissant e decidere al momento quale marmellata preferite per la farcitura. Inoltre potrete assaggiare le nostre torte e crostate, pane tostato con marmellata e burro.</p>
	<p>A pranzo o per un intermezzo potrete gustare i nostri panini con salame, finocchiona, procsciutto crudo fiocco della Valtellina, speck del Trentino e brie, toma e prosciutto cotto, hamburger, mortadella con salsa al pistacchio, mozzarella, prosciutto e wurstel, insalata russa, acciughe al verde, acciughe con burro, vitello tonnato.</p>
	<p>Inoltre potrete scegliere una varietà di toast farciti e panini vegani. (Tutti i panini sono fatti sul momento)</p>
	<p>A pranzo potrete trovare zuppe e primi piatti, ogni giorno una zuppa diversa e un primo diverso.</p>
	<p>Apericena tutte le sere con merenda sinoira, oppure con semplice tagliere di salumi e formaggi con crostini e salatini.</p>
	<p>Siamo affiliati a TICKET RESTAURANT ENDERED, prossimamente TICKET SODEXO.</p>
	<p><u>CONFEZIONI REGALO DA 6 BOTTIGLIE CON CONSEGNA A DOMICILIO.</u></p>
	<p>INOLTRE ABBIAMO ANCHE UN'AGENZIA DI VIAGGI DA OLTRE VENT'ANNI E IN ENOTECA ABBIAMO UNO SPAZIO DEDICATO ALLE PRENOTAZIONI AEREE, FERROVIARIE, NAVALI, BUS A LUNGA PERCORRENZA, VIAGGI INDIVIDUALI E DI GRUPPO</p>
    <!--<div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"Use products from nature for what it's worth - but never too early, nor too late." Fresh is the new sweet.</i></p>
      <p>Chef, Coffeeist and Owner: Liam Brown</p>
    </div>-->
    <img src="/static/img/bancone.jpg" style="width:100%;max-width:1000px" class="w3-margin-top">
    <p><strong>Apertura:</strong> tutti i giorni dalle ore 8:00 alle ore 21:00.</p>
    <p><strong>Indirizzo:</strong> Via Tiziano Vecellio 24 - Torino</p>
  </div>
</div>

<!-- Menu Container -->
<div class="w3-container" id="menu">
  <div class="w3-content" style="max-width:700px">
 
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">PREZZI</span></h5>
  
    <div class="w3-row w3-center w3-card w3-padding">
      <a href="javascript:void(0)" onclick="openMenu(event, &#39;Eat&#39;);" id="myLink">
        <div class="w3-col s6 tablink w3-dark-grey">I nostri prezzi</div>
      </a>
      <!--<a href="javascript:void(0)" onclick="openMenu(event, &#39;Drinks&#39;);">-->
        <div class="w3-col s6 tablink"></div>
      <!--</a>-->
    </div>

    <div id="Eat" class="w3-container menu w3-padding-48 w3-card" style="display: block;">
      <h5>Vino sfuso</h5>
      <p class="w3-text-grey">€ 3.50 al litro</p><br>
    
      <h5>Primi piatti e zuppe</h5>
      <p class="w3-text-grey">€ 5.50</p><br>
    
      <h5>Secondi piatti con contorno</h5>
      <p class="w3-text-grey">a partire da € 6.50</p><br>
	</div>

    <div id="Drinks" class="w3-container menu w3-padding-48 w3-card" style="display: none;">
    </div>  
    <img src="/static/img/2.jpg" style="width:100%;max-width:1000px;margin-top:32px;">
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">DOVE CI TROVIAMO</span></h5>
    <p>Via Tiziano Vecellio 24 - Torino</p>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2818.993041137565!2d7.670764315543486!3d45.04536307909823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47886d4bc13359ef%3A0xae56b66b5f7bc0f2!2sVia%20Tiziano%20Vecellio%2C%2024%2C%2010126%20Torino%20TO!5e0!3m2!1sit!2sit!4v1605382393857!5m2!1sit!2sit" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <!--<img src="map.jpg" class="w3-image" style="width:100%">-->
    <!--<p><span class="w3-tag">FYI!</span> We offer full-service catering for any event, large or small. We understand your needs and we will cater the food to satisfy the biggerst criteria of them all, both look and taste.</p>
    <p><strong>Reserve</strong> a table, ask for today's special or just send us a message:</p>
    <form action="https://www.w3schools.com/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Name" required="" name="Name"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="number" placeholder="How many people" required="" name="People"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="datetime-local" placeholder="Date and time" required="" name="date" value="2017-11-16T20:00"></p>
      <p><input class="w3-input w3-padding-16 w3-border" type="text" placeholder="Message \ Special requirements" required="" name="Message"></p>
      <p><button class="w3-button w3-black" type="submit">SEND MESSAGE</button></p>
    </form>-->
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <!--<p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>-->
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" w3-dark-grey", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-dark-grey";
}
document.getElementById("myLink").click();
</script>


</body></html>
